@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}


// prices
.price-panel .price {
    float: left;
    padding-right: 10px;
    width: 33%;
}

.price-panel .price .value {
    font-size: 1.7rem;
    font-weight: bold;
    position: relative;

}
.price-panel .price .priceLabel {
    font-size: 0.8rem;
}

.price-panel .priceCurrent {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 12px;
}
.price-panel .priceCurrent .value {
    font-size: 4rem;
    line-height: 4rem;
}
.price-panel .priceCurrent .priceLabel {
    font-size: 1.2rem;
}

.price-panel .currency {
    margin-left: 14px;
    font-size: 1.2rem;
    position: absolute;
    right: 30px;
    top: 15px;
}

// .price-panel .satoshis {
//     font-size: 0.8rem;
//     position: absolute;
//     right: 30px;
//     top: 29px;
// }
.price-panel .satoshis {
    font-size: 0.8rem;
    font-weight: normal;
    margin-left: 8px;
}

.price-panel .type {
    font-size: 0.8rem;
    position: absolute;
    left: 32px;
    top: 88px;

}

.price-panel .panel-body {
    overflow: hidden;
}

.price-panel .panel-footer {
    text-align: right;
}



// animation

.direction-up, .direction-up2 {
    animation-name: slideup;
    animation-duration: 0.55s; 
    animation-timing-function: ease-out;    
}
.direction-up2 { animation-name: slideup2; }
.direction-down, .direction-down2 {
    animation-name: slidedown;
    animation-duration: 0.55s; 
    animation-timing-function: ease-out;    
}
.direction-down2 { animation-name: slidedown2; }

@keyframes slideup {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }   
}
@keyframes slideup2 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }   
}

@keyframes slidedown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }   
}
@keyframes slidedow2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }   
}
